<ng-template #brand_logo>
  <div class="brand_logo">
    <div class="brand_logo__img_container">
      <img
        class="brand_logo__img_content"
        src="/assets/images/logo.svg"
        alt="snap brand logo"
      />
    </div>
  </div>
</ng-template>

<ng-template #mobile_header>
  <section class="header">
    <ng-container *ngTemplateOutlet="brand_logo"></ng-container>

    <div class="menu_icon" (click)="toggle_sidemenu()">
      <div class="menu_icon__icon_container">
        <img
          class="menu_icon__icon_content"
          src="/assets/images/icon-menu.svg"
          alt="menu icon"
        />
      </div>
    </div>
  </section>
</ng-template>

<ng-template #desktop_header>
  <section class="header">
    <ng-container *ngTemplateOutlet="brand_logo"></ng-container>
    <app-navigation></app-navigation>
    <app-userauth-btns></app-userauth-btns>
  </section>
</ng-template>

<ng-container
  *ngTemplateOutlet="check_device('mobile') ? mobile_header : desktop_header"
></ng-container>
