@import "variables.scss";

.hero_img {
  width: 100vw;
}

.hero_img__container {
  width: 100%;
}

.hero_img__content {
  width: 100%;
  object-fit: cover;
}

.CTA_message {
  width: 100vw;
  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.CTA_message__title {
  font-weight: 800;
  font-size: 1.6rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 300px;
  text-align: center;
}

.CTA_message__paragraph {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: $medium_gray;
}

.CTA_message__btn {
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  background-color: #000;
  padding: 15px 30px;
  color: $almost_white;
  border-radius: 15px;
}

.brand_strip {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  gap: 15px;
  width: 100vw;
}

.brand_strip__logo_container {
  width: 20%;
}

.brand_strip__logo_content {
  width: 100%;
  object-fit: cover;
}
