<app-header></app-header>
<app-sidemenu></app-sidemenu>

<div class="hero_img">
  <div class="hero_img__container">
    <img
      class="hero_img__content"
      src="/assets/images/image-hero-mobile.png"
      alt=""
    />
  </div>
</div>

<div class="CTA_message">
  <h1 class="CTA_message__title">Make remote work</h1>
  <p class="CTA_message__paragraph">
    Get your team in sync, no matter your location. Streamline processes, create
    team rituals, and watch productivity soar.
  </p>
  <h1 class="CTA_message__btn">Learn more</h1>
</div>

<div class="brand_strip">
  <div class="brand_strip__logo_container">
    <img
      class="brand_strip__logo_content"
      src="/assets/images/client-audiophile.svg"
      alt="audiophile brand logo"
    />
  </div>
  <div class="brand_strip__logo_container">
    <img
      class="brand_strip__logo_content"
      src="/assets/images/client-databiz.svg"
      alt="databiz brand logo"
    />
  </div>
  <div class="brand_strip__logo_container">
    <img
      class="brand_strip__logo_content"
      src="/assets/images/client-maker.svg"
      alt="maker brand logo"
    />
  </div>
  <div class="brand_strip__logo_container">
    <img
      class="brand_strip__logo_content"
      src="/assets/images/client-meet.svg"
      alt="meet brand logo"
    />
  </div>
</div>
