<li class="navigation__item navigation__item--hidden">
  <img
    class="dropdown_menu__icon"
    src="/assets/images/icon-todo.svg"
    alt="todo icon"
  />
  <span class="dropdown_menu__title"> Todo List </span>
</li>

<li class="navigation__item navigation__item--hidden">
  <img
    class="dropdown_menu__icon"
    src="/assets/images/icon-calendar.svg"
    alt="calendar icon"
  />
  <span class="dropdown_menu__title"> Calendar </span>
</li>

<li class="navigation__item navigation__item--hidden">
  <img
    class="dropdown_menu__icon"
    src="/assets/images/icon-reminders.svg"
    alt="reminders icon"
  />
  <span class="dropdown_menu__title"> Reminder </span>
</li>

<li class="navigation__item navigation__item--hidden">
  <img
    class="dropdown_menu__icon"
    src="/assets/images/icon-planning.svg"
    alt="planning icon"
  />
  <span class="dropdown_menu__title"> Planning </span>
</li>
