@import "variables.scss";
@import "mixins.scss";

.navigation_layout {
  display: flex;
  gap: 30px;
  font-size: 1vw;
}

.navigation_block {
  position: relative;
}

.navigation_block__title {
  padding: 10px;
  color: $medium_gray;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
  padding-right: 0;
  cursor: pointer;
}

.navigation_block__modal_box {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: $almost_white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba($color: #000000, $alpha: 0.1);
}

.navigation_block__item {
  padding: 10px;
  color: $medium_gray;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
  white-space: nowrap;
  cursor: pointer;
}
