<div class="navigation_layout">
  <ng-container *ngFor="let nav_item of nav_elements">
    <div class="navigation_block">
      <div
        class="navigation_block__title"
        (click)="toggle_dropdown(nav_item.title)"
      >
        <span> {{ nav_item.title | titlecase  }} </span>
        <img
          class="navigation__arrow_down"
          src="/assets/images/icon-arrow-down.svg"
          alt="features arrow down icon"
        />
      </div>

      <div
        class="navigation_block__modal_box"
        *ngIf="nav_item.options && dropdown[nav_item.title]"
      >
        <ng-container *ngFor="let option of nav_item.options">
          <li class="navigation_block__item navigation_block__item--hidden">
            <img
              *ngIf="option.icon_path"
              class="dropdown_menu__icon"
              src="/assets/images/{{ option.icon_path }}"
              alt="todo icon"
            />
            <span class="dropdown_menu__title"> {{ option.name }} </span>
          </li>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
