@import "variables.scss";
@import "mixins.scss";

.side_menu {
  font-size: 2vh;

  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: $almost_white;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.navigation__item {
  padding: 10px;
  color: $medium_gray;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
  font-size: 1em;
}

.navigation__item--hidden {
  padding-left: 30px;
}

.dropdown_menu__icon {
  width: 1em;
  height: 1em;
}

.user_auth {
  width: 100%;
  text-align: center;
  font-size: 1vh;
  gap: 10px;
  font-size: 0.9em;
}

.user_auth__register {
  border: 2px solid $medium_gray;
}

.user_auth__login,
.user_auth__register {
  padding: 10px;
  width: 100%;
  color: $medium_gray;
  font-weight: 500;
  border-radius: 15px;
  font-size: 1em;
}
