<section class="side_menu" *ngIf="menu_visible" @menu_slide @item_fade>
  <app-menu-icon></app-menu-icon>

  <div class="navigation">
    <nav class="navigation__menu">
      <ng-container *ngFor="let nav_item of nav_itens">
        <li class="navigation__item" (click)="toggle_dropdown(nav_item.title)">
          <span> {{ nav_item.title | titlecase }} </span>
          <img
            *ngIf="nav_item.options"
            class="navigation__arrow_down"
            src="/assets/images/icon-arrow-down.svg"
            alt="features arrow down icon"
          />
        </li>

        <div *ngIf="dropdown[nav_item.title]" @resize>
          <ng-container *ngFor="let option of nav_item.options">
            <li class="navigation__item navigation__item--hidden">
              <img
                *ngIf="option.icon_path"
                class="dropdown_menu__icon"
                [src]="imgs_path + option.icon_path"
                alt="todo icon"
              />
              <span class="dropdown_menu__title"> {{ option.name }} </span>
            </li>
          </ng-container>
        </div>
      </ng-container>
    </nav>
  </div>

  <div class="user_auth" *ngIf="device == 'mobile'">
    <div class="user_auth__login">Login</div>
    <div class="user_auth__register">Register</div>
  </div>
</section>
