@import "variables.scss";
@import "mixins.scss";

.navigation__item {
  @include nav_item;
  font-size: 1.2rem;
}

.navigation__item--hidden {
  padding-left: 30px;
}

.user_auth {
  @include user_auth;
}

.user_auth__register {
  @include user_auth__register;
}

.user_auth__login,
.user_auth__register {
  @include user_auth__btns;
}

.side_menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: $almost_white;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
