@import "variables.scss";

.CTA_message {
  width: 100vw;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.CTA_message__title {
  font-weight: 800;
  font-size: 1.6rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 300px;
  text-align: center;
}

.CTA_message__paragraph {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: $medium_gray;
}

.CTA_message__btn {
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  background-color: #000;
  padding: 15px 30px;
  color: $almost_white;
  border-radius: 15px;
}
