@import "variables.scss";

.CTA_message {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  align-items: center;
  gap: 30px;
  font-size: 2vh;
}

.CTA_message__title {
  font-size: 2em;
  font-weight: 800;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 300px;
  text-align: center;
}

.CTA_message__paragraph {
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
  font-weight: 500;
  color: $medium_gray;
}

.CTA_message__btn {
  font-size: 0.9em;
  display: grid;
  place-items: center;
  background-color: #000;
  padding: 15px 30px;
  color: $almost_white;
  border-radius: 15px;
}

@media screen and (min-width: $tablet_bp) {
  .CTA_message {
    align-items: start;
    width: 100%;
    padding: 0;
    gap: 40px;
    font-size: 1vw;
  }

  .CTA_message__title {
    text-align: start;
    font-size: 4em;
    width: 100%;
    white-space: nowrap;
    padding: 0;
  }

  // the "make" word
  .CTA_message__title_focus {
    display: block;
    text-align: start;
  }

  .CTA_message__paragraph {
    font-size: 1em;
    text-align: start;
    line-height: 1.5em;
  }

  .CTA_message__btn {
    cursor: pointer;
  }
}
