@import "variables.scss";

.brand_strip {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  gap: 15px;
  width: 100vw;
}

.brand_strip__logo_container {
  width: 20%;
}

.brand_strip__logo_content {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: $tablet_bp) {
  .brand_strip {
    width: 100%;
  }
}
