<div class="brand_strip">
  <div class="brand_strip__logo_container">
    <img
      class="brand_strip__logo_content"
      src="/assets/images/client-audiophile.svg"
      alt="audiophile brand logo"
    />
  </div>
  <div class="brand_strip__logo_container">
    <img
      class="brand_strip__logo_content"
      src="/assets/images/client-databiz.svg"
      alt="databiz brand logo"
    />
  </div>
  <div class="brand_strip__logo_container">
    <img
      class="brand_strip__logo_content"
      src="/assets/images/client-maker.svg"
      alt="maker brand logo"
    />
  </div>
  <div class="brand_strip__logo_container">
    <img
      class="brand_strip__logo_content"
      src="/assets/images/client-meet.svg"
      alt="meet brand logo"
    />
  </div>
</div>
