<ng-container *ngIf="is_device('mobile')">
  <section class="header" @header_anim>
    <app-brand-logo></app-brand-logo>
    <app-menu-icon *ngIf="!menu_visible" @item_fade></app-menu-icon>
  </section>

  <section class="main" @main_anim>
    <app-hero></app-hero>
    <app-cta-main></app-cta-main>
  </section>

  <app-sidemenu></app-sidemenu>
</ng-container>

<ng-container *ngIf="is_device('desktop')">
  <section class="header" @header_anim>
    <app-brand-logo></app-brand-logo>
    <app-header-nav></app-header-nav>
    <app-user-authbtns></app-user-authbtns>
  </section>

  <section class="main" @main_anim>
    <div class="main__lcol">
      <app-cta-main></app-cta-main>
      <app-brand-strip></app-brand-strip>
    </div>
    <div class="main__rcol">
      <app-hero [device]="device"></app-hero>
    </div>
  </section>
</ng-container>
