@mixin navigation_item {
  padding: 10px;
  font-size: 0.9rem;
  color: $medium_gray;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

@mixin navigation_item--hidden {
  padding-left: 30px;
}
