$mobile_bp: "480px";
//smaller phones
$tablet_bp: "769px";
// tablets and larger phones
$laptop_bp: "1280px";
// laptops, tablets in landscape
$big_monitor_bp: "1440px";

$almost_white: hsl(0, 0%, 98%);
$medium_gray: hsl(0, 0%, 41%);
$almost_black: hsl(0, 0%, 8%);
